#frog-image {
    position: absolute;
    bottom: 0;
    width: 400px;
    left: 0;
    z-index: -1;
}

#add-activity-button {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 80px;  /* Space for navigation buttons */
    padding-bottom: 80px;  /* Space for notification button */
}